<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About & Basic Info</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="main-container">
      
        <div class="info-container">
            <div class="info-box">
                <h3>About </h3>
                <p>Highly skilled and detail-oriented Full Stack Developer with a strong background in designing, developing, and maintaining web applications. Proficient in both front-end and back-end technologies, with expertise in ASP.NET Core, Spring Boot, Spring Batch, multithreading, SQL, and Apache Kafka for building scalable and high-performance enterprise solutions<a href="www.linkedin.com/in/bashir-omar">Learn More ...</a></p>
            </div>
            <div class="info-box">
                <h3>Basic Information</h3>
                <ul>
                    <li><strong>Name:</strong>Bashir Ali</li>
                    <li><strong>Age:</strong>25</li>
                    <li><strong>Email:</strong>john.doeexample.com</li>
                    <li><strong>Phone:</strong>+16975455525</li>
                    <li><strong>Location:</strong>Toronto</li>
                    <li><strong>Language</strong>English</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>