<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    
</head>
<body>
    <header>
        <div class="logo"><h2>PortoFolio</h2></div>
        <div class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">PortoFolio</a></li>
                <li><a href="#">Experience</a></li>

                
               
            </ul>
        </div>
        <div class="button">
            <button class="btn">Contect</button>
        </div>
    </header>
    <!-- Hero Section -->
    <div class="hero">
        <div class="right">
            <h1>Hi, I am Bashir Ali</h1>
            <h2>Full Stack Developer</h2>
            <p>Highly skilled Full Stack Developer with extensive experience in web application development, software programming, and cloud-based solutions. Proficient in Java, .NET,Paython,Angular nad React js and MVC applications, .  
            </p>
            <div class="buttton">
                <button class="h-btn">Hire Me</button>
                <button class="h-btn">Download Cv</button>
            </div>
         <div class="social-media">
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </div>
        </div>

        <div class="left">
            <div class="image">
                <img src="my-Image.jpg" alt=""/>
            </div>
        </div>
    </div>
</body>
</html>