<div class="portfolio-header">
    <h1>My Portfolio</h1>
    <div class="icons-container">
      <i class="fa fa-laptop fa-2x icon"></i>
      <i class="fa fa-camera fa-2x icon"></i>
      <i class="fa fa-laptop fa-2x icon"></i>
    </div>

  
    
  </div>
  <div class="images-container">
    <img src="image1.png" alt="Image 1" class="image" />
    <img src="image2.avif" alt="Image 2" class="image" />
    <img src="image5.jpg" alt="Image 3" class="image" />
    <img src="image6.png" alt="Image 4" class="image" />
  </div>